@use "grid";
@use "mixins";
@use "variables";

hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}
/* Figures and images ==================================== */
figure {
	margin-bottom: mixins.$indent-var;
}
article img {
	max-width: 100%;
	height: auto;
	border-width: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}
svg:not(:root) {
		overflow: hidden;
}
.half {
	@include grid.container;
	@include mixins.clearfix;
	@media #{variables.$micro} {
		img {
			@include grid.grid(12,6);
		}
		figcaption {
			@include grid.grid(12,12);
		}
	}
}
.third {
	@include grid.container;
	@include mixins.clearfix;
	@media #{variables.$micro} {
		img {
			@include grid.grid(12,4);
		}
		figcaption {
			@include grid.grid(12,12);
		}
	}
}

// Main page images (choice 'menu')
.three-col-table {
}

.col-table {
	border: 2px dashed #666;
	border-radius: 50%;
	&:hover {
		border: 2px solid #666;
	}
}

// Grayscale images
img.grayscale {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/* Prompts */
.prompt {
	@include mixins.font-rem(12);
  display: block;
//	margin-top: 2rem !important; // To detach from previous paragraph
  margin-bottom: 5px;
  padding: 4px 5px;
  text-indent: 0rem;
  text-align: left;
  font-family: variables.$code-font;
  background-color: variables.$primary;
  color: variables.$white;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: variables.$primary;
  @include mixins.rounded(3px);
  width: 100% !important;
  overflow: auto !important;
  border-bottom: 0px !important;
}

.prompt-attention {
  background-color: variables.$attention;
  color: variables.$white;
  border-color: variables.$attention;
  &:hover {
    background-color: variables.$attention;
    color: variables.$white;
  }
}

.prompt-info {
  background-color: variables.$infotext;
  color: variables.$white;
  border-color: variables.$infotext;
  &:hover {
    background-color: variables.$infotext;
    color: variables.$white;
  }
}

.prompt-pymol {
  background-color: variables.$pymoltext;
  color: variables.$white;
  border-color: variables.$pymoltext;
  &:hover {
    background-color: variables.$pymoltext;
    color: variables.$white;
  }
}

.prompt-question {
  background-color: variables.$question;
  color: variables.$white;
  border-color: variables.$question;
  &:hover {
    background-color: variables.$question;
    color: variables.$white;
  }
}

.prompt-cmd {
  background-color: variables.$primary;
  color: variables.$white;
  border-color: variables.$primary;
  &:hover {
    background-color: variables.$primary;
    color: variables.$white;
  }
}

/* Buttons ============================================== */
.btn {
  display: inline-block;
  margin-bottom: 5px;
  padding: 4px 5px;
  @include mixins.font-rem(10);
  background-color: variables.$primary;
  color: variables.$white;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: variables.$primary;
  @include mixins.rounded(3px);
  &:visited {
    color: variables.$white;
  }
}
.btn-success {
  background-color: variables.$success;
  color: variables.$white;
  border-color: variables.$success;
  &:visited {
    color: variables.$white;
  }
  &:hover {
    background-color: variables.$white;
    color: variables.$success;
  }
}
.btn-warning {
  background-color: variables.$warning;
  color: variables.$white;
  border-color: variables.$warning;
  &:visited {
    color: variables.$white;
  }
  &:hover {
    background-color: variables.$white;
    color: variables.$warning;
  }
}
.btn-danger {
  background-color: variables.$danger;
  color: variables.$white;
  border-color: variables.$danger;
  &:visited {
    color: variables.$white;
  }
  &:hover {
    background-color: variables.$white;
    color: variables.$danger;
  }
}
.btn-info {
  background-color: variables.$info;
  color: variables.$white;
  border-color: variables.$info;
  &:visited {
    color: variables.$white;
  }
  &:hover {
    background-color: variables.$white;
    color: variables.$info;
  }
}

// Status indicators
// Bastard buttons with no hover actions
// Do not changing cursor to avoid tricking people
.btn-postdoc {
  background-color: variables.$info;
  color: variables.$white;
  border-color: variables.$info;
  &:hover {
    color: variables.$white;
    cursor: default;
  }
}
.btn-phd {
  background-color: variables.$warning;
  color: variables.$white;
  border-color: variables.$warning;
  &:hover {
    color: variables.$white;
    cursor: default;
  }
}
.btn-student {
  background-color: variables.$danger;
  color: variables.$white;
  border-color: variables.$danger;
  &:hover {
    color: variables.$white;
    cursor: default;
  }
}
.btn-visiting-professor {
  background-color: variables.$success;
  color: variables.$white;
  border-color: variables.$success;
  &:hover {
    color: variables.$white;
    cursor: default;
  }
}
/* Well ================================================= */
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	@include mixins.rounded(4px);
	@include mixins.box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
}
